[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
notebook = "*"
jupytext = "*"
environment-kernels = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
scipy = "*"
jupyterlab = "*"
sklearn = "*"
jedi = "*"
statsmodels = "*"
seaborn = "*"
joblib = "*"
neovim = "*"

[dev-packages]

[requires]
python_version = "3.10"
